:root {
  --side-number: 64;
}

.container {
  height: 500px;
  margin: 0 auto;
  width: 500px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.intensity, .color {
  display: inline-block;
}

.sketchpad {
  border: 10px solid darkred;
  box-sizing: border-box;
  display: grid;
  grid: repeat(var(--side-number), 1fr) / repeat(var(--side-number), 1fr);
  height: 500px;
  width: 500px;
}