:root {
  --side-number: 64;
  --width: 500px;
  --height: 500px;
}

@media screen and (max-width: 500px) {
  :root {
    --width: 100vw;
    --height: 75vh;
    --control-height: 25vh;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --width: 75vw;
    --height: 75vh;
    --control-height: 25vh;
  }
}

.color {
  border: 2px solid navy;
  color: navy;
}

.clear {
  align-self: flex-end;
  height: 50px;
  padding: 0 20px;
  
}

.container {
  height: var(--height);
  margin: 0 auto;
  width: var(--width);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: var(--control-height);
  max-width: var(--width);
  margin: 10px 0;
}

fieldset {
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}

.intensity {
  border: 2px solid orangered;
  color: orangered;
}

li {
  color: #333;
}

input[type="radio"] {
  outline: none;
}

.sketchpad {
  border: 10px solid darkred;
  box-sizing: border-box;
  display: grid;
  grid: repeat(var(--side-number), 1fr) / repeat(var(--side-number), 1fr);
  min-width: var(--width);
  min-height: var(--height);
}